[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200

# Remappings for dependencies
remappings = [
    "forge-std/=lib/forge-std/src/",
    "@safe-global/=lib/safe-smart-account/contracts/",
]

[fuzz]
runs = 256

[invariant]
runs = 256

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 100
multiline_func_header = "attributes_first"
number_underscore = "thousands"
quote_style = "double"
single_line_statement_blocks = "single"
tab_width = 4
wrap_comments = true
